
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 25px;
	margin-bottom: 8px;
	line-height: 1.1;
	
	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: 66px;
	font-weight: bold;
}

h2, .h2 {
	font-size: 28px;
	font-weight: bold;

	@include mq(M) {
		font-size: 40px;
	}
}

h3, .h3 {
	font-size: 32px;
	font-weight: bold;
}

h4, .h4 {
	font-size: 20px;
	font-weight: bold;

	@include mq(M) {
		font-size: 28px;
	}
}

h5, .h5 {
	font-size: 16px;
	font-weight: bold;

	@include mq(M) {
		font-size: 20px;
	}
}

.heading {
	&--primary {
		color: $color-secondary;
	}

	&--underline {
		position: relative;
		margin-bottom: 40px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -18px;
			height: 3px;
			width: 21%;
			max-width: 170px;
			background-color: $color-text;
		}
	}
}