.example { //TEMPORARY
    background-color: white;
    
    .sitewrapper { 
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        min-height: 100vh;
        background-color: $color-shade-one;
    }

    &__main {
        display: block;
    }

    &__footer {
        display: block;
        align-self: flex-end;
        width: 100%;
        padding: 20px 50px;
        background-color: $color-background-dark;

        @media only screen and (min-width: 1024px) {
            padding: 20px 100px;
        }
    }
}

.o-footer__menu {

    background-color: $color-background-dark;
    font-size: $small-fontsize;
    color: $color-white; 

    .m-collapsible-list {

        h6 {
            text-transform: uppercase; 
            font-size: $small-fontsize;
        }
    }

    &.flex-5-columns-responsive {
        display: block;

        @include mq(XL) {
            display: flex;
            justify-content: space-between;

            > div {
                width: 18%;
            }
        }
    }
}