.o-footer__menu {

    background-color: $color-darkbackground;
    font-size: $small-fontsize;
    color: $color-white; 

    .m-collapsible-list {

        h6 {
            text-transform: uppercase; 
            font-size: $small-fontsize;
        }
    }

    &.flex-5-columns-responsive {
        display: block;

        @include mq(L) {
            display: flex;
            justify-content: space-between;

            > div {
                width: 18%;
            }
        }
    }
}