
$color-white:			#fff;
$color-black:			#000;

// SKG colors

$color-primary:         #27AAE7;
$color-secondary:       #e30075;
$color-tertiary:        #f6f4f1;  
$color-quaternary:      #888;
$color-quinary:         #e82f8d;
$color-senary:          #00acd5;

$color-text:            #333;

// // UI colors

 $color-brand:          #27AAE7;
 $color-border-light:   #E9E7E8;
 $color-border-dark:    #333;
// $color-text:            $color-armadillo;
// $color-alert:           $color-night-shadz;
// $color-warning:         $color-burnt-sienna;
// $color-info:            $color-lemon-grass;
// $color-highlight:       $color-corn;
// $color-light:           $color-celeste;
$color-background:      #F9F9FB;
$color-darkbackground:	#1A2328;
// $color-link:			    $color-deep-cerulean;
// $color-blockquote:		$color-night-shadz;



// // theme colors

// $color-thema1:          $color-celeste;      
// $color-thema2:          $color-careys-pink;
// $color-thema3:          $color-norway;
// $color-thema4:          $color-celeste;  
// $color-thema5:          $color-night-shadz;
// $color-thema6:          $color-viking;
